@import './base/variable';
@import './base/utilities-custom';
@import './base/_dark-mode.scss';
@import '~bootstrap/scss/bootstrap';
//@import '~bootstrap-icons/font/bootstrap-icons.scss';
@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--bg-body);
    transition: background-color var(--time-transastion);
  }

.overflow-y {overflow-y: auto;}

// Config Collapse
.collapse { &:not(.show) {display: none;} }
.collapsing {height: 0; overflow: hidden; @include transition($transition-collapse);}

.overflow-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }


// Base Config
@import 'base/_index.base.scss';

// Config Support Style
@import "plugin/_datepicker.plugin.scss";
@import "config.support.scss";
@import "custom/_config-svg.custom.scss";